langchain-core
langchain-community
langchain_ollama
langchain-openai
langchain_chroma
python-dotenv
pyppeteer
pypdf
uuid
streamlit
langchain
langchain-chroma
langchain-groq
chromadb
models  # Pastikan pustaka ini tersedia di PyPI atau repositori khusus
